<form action="/signup" method="POST">
    Email:<input type="text" name="email">
    Username:<input type="text" name="username">
    Password:<input type="text" name="password">

    <input type="submit" value="submit">
</form>